
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 500px;
    background-color: #000000;
}

.search-container {
    display: flex;
    align-items: center;
}


.search-bar {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 50px;
    padding: 10px 20px;
    width: 500px;
}

.search-bar input {
    border: none;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 16px;
    color: #666;
}

.search-bar img {
    width: 20px;
    height: 20px;
}

.search-icon {
    margin-right: 10px;
    background-color: white;
}

.mic-icon{
    margin-left: 200px;
    margin-right: 20px;
}
