*{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.anh{
    width: 300px;
    height: 150px;
}
table{
    width: 418px;
    position: relative; 
    border: 1px solid rgb(238, 237, 237);
    
}
p{
    color: rgb(61, 61, 61);
    font-size: 15px;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    line-height: 25px;
}
.container{
    padding: 40px;
}
.date{
    font-size: 12px;
    color: rgb(83, 83, 83);
}
button{
    background-color: white;
    border: 1px solid black;
    text-align: center;
    font-size: 7px;
}
